.possibilities {
  padding-top: 94px;
  padding-bottom: 140px;
  text-align: center;

  &__title {
    margin-bottom: 65px;
  }

  .col {
    width: 33%;
    flex: auto;
  }

  .wrapper {
    max-width: 276px;
    margin: 0 auto 80px;
  }

  &__name {
    font-weight: bold;
    font-size: 19px;
    line-height: 45px;
    color: $black;
    margin-bottom: 11px;
    margin-top: 10px;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $primary-color;
  }
}